* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

/* SIDEBAR STYLING */
.sidebar {
    background-color: #3B82F6;
    color: #fff;
}

.sidebar__title {
    text-align: center;
    margin: 15px 0 28px 0;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1.2px;
}

a {
    color: #fff;
}

a:link {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

ul {
    list-style: none;
}

li {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    
}

.settings {
    margin-top: 40px;
}

.body {
    background-color: coral;
    display: grid;
    grid-template-rows: 25vh 1fr;
}

.profile {
    background-color: orangered;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.profile__search {
    display: flex;
    align-items: center;
    background-color: #fff;

}

.search__svg {
    transform: translate(4px, 12px);
    margin-left: 25px;
}

.profile__search input {
    border-radius: 50px;
    width: 500px;
    border-style: none;
    height: 30px;
    background-color: #DBEAFE;
}

.profile__user {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.profile__name {
    font-weight: 700;
    margin-right: 30px;
}

.profile__pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.projects {
    background-color: lightseagreen;
}