* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    background-color: lightskyblue;
}

.body {
    background-color: coral;
    display: grid;
    grid-template-rows: 20vh 1fr;
}

.profile {
    background-color: orangered;
}

.projects {
    background-color: lightseagreen;
}